// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Waka Waka
@font-face {
	font-family: Emulogic;
	src: url(/fonts/Emulogic-zrEw.ttf);
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Tweaks
body, .card, .card-header {
  background-color: #000;
  color: #fff;
}

.loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  overflow-x: hidden;
}

.color-0 {
  color: $red;
}
.color-1 {
  color: $yellow;
}
.color-2 {
  color: $green;
}
.color-3 {
  color: $cyan;
}
.color-4 {
  color: $blue;
}
