
<template>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-header">
                        High scores
                    </div>

                    <br>
                    <br>
                    <br>

                    <table>
                      <tr v-for="(item, index) in sortedPlayers">
                        <td :class="'color-' + index">{{ item.name }}</td>
                        <td><button v-on:click="updateLeaderboard(item.id, 'increment')">+</button></td>
                        <td><button v-on:click="updateLeaderboard(item.id, 'decrement')">-</button></td>
                        <td :class="'color-' + index">{{ item.score }}</td>
                      </tr>
                    </table>

                    <br>
                    <br>
                    <br>

                    <button v-on:click="init">Reset</button>

                </div>
            </div>
        </div>

        <div v-if="loading" class="loading-overlay justify-content-center"><img src="/images/pacman.gif"></div>

    </div>
</template>

<script>
    export default {
        mounted() {
            this.init();
        },
        data() {
            return {
                "players": [],
                "loading": true
            }
        },
        methods: {
            init() {
                this.loading = true;
                axios({
                    method: 'get',
                    url: '/api/leaderboard',
                }).then( function (response) {
                    this.players = response.data.data;
                    this.loading = false;
                }.bind(this));
            },
            updateLeaderboard(id, type) {
                for(let i=0; i < this.players.length; i++) {
                    if(this.players[i].id == id) {
                        if(type == 'increment') {
                            this.players[i].score++;
                        } else if(type == 'decrement') {
                            this.players[i].score--;
                        } else {
                            console.error('Unsupported operation');
                        }
                    }
                }
            }
        },
        computed: {
            sortedPlayers: function() {
                
                let players = this.players;

                function sortByName(a, b) {
                    if (a.name < b.name)
                        return -1;
                    if (a.name > b.name)
                        return 1;
                    return 0;
                }

                function sortByScore(a, b) {
                    if (a.score < b.score)
                        return 1;
                    if (a.score > b.score)
                        return -1;
                    return 0;
                }

                players = players.sort(sortByName);
                players = players.sort(sortByScore);

                return players;
            }
        }
    }
</script>
